#container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

#hidden{
   visibility: hidden;
  
}

#card{
   background-color: aqua;
   width:25rem;
   height: 13rem;
margin-top: 20px;
font-size: large;
text-align: center;

}